.update-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.password-fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.submit-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;

  .progress-spinner {
    position: absolute;
    margin-left: calc(73.4px + 16px);
  }
}
