<form
  class="update-password-form"
  [formGroup]="formGroup"
  (ngSubmit)="updatePassword()"
>
  <h1>Change Password</h1>
  <div class="password-fields">
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        matInput
        [formControlName]="formControls.password"
        [type]="showPassword() ? 'text' : 'password'"
        autocapitalize="none"
        autocomplete="off"
        spellcheck="false"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
      >
        <mat-icon
          [fontIcon]="showPassword() ? 'visibility_off' : 'visibility'"
        />
      </button>
      @if (formGroup.controls.password.hasError(formErrors.required)) {
      <mat-error>{{ errors.required }}</mat-error>
      } @else if
      (formGroup.controls.password.hasError(formErrors.passwordMinLength)) {
      <mat-error>{{ errors.minlength }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [formControlName]="formControls.passwordConfirm"
        [type]="showPasswordConfirm() ? 'text' : 'password'"
        autocapitalize="none"
        autocomplete="off"
        spellcheck="false"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordConfirmVisibility($event)"
        [attr.aria-label]="
          showPasswordConfirm() ? 'Hide password' : 'Show password'
        "
      >
        <mat-icon
          [fontIcon]="showPasswordConfirm() ? 'visibility_off' : 'visibility'"
        />
      </button>
      @if (formGroup.hasError(formErrors.passwordMismatch)) {
      <mat-error>{{ errors.passwordMismatch }}</mat-error>
      } @else {
      <mat-hint>Password must be at least 8 characters long</mat-hint>
      }
    </mat-form-field>
  </div>

  <span class="submit-row">
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!formGroup.valid || isLoading()"
    >
      Submit
    </button>
    @if (isLoading()) {
    <mat-spinner diameter="40" class="progress-spinner" />
    }
  </span>
</form>
