<form class="update-password-form" (submit)="updatePassword($event)">
  <h1>Change Password</h1>
  <div class="password-fields">
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        matInput
        [formField]="updatePasswordForm.password"
        [type]="showPassword() ? 'text' : 'password'"
        autocapitalize="none"
        autocomplete="new-password"
        spellcheck="false"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
      >
        <mat-icon
          [fontIcon]="showPassword() ? 'visibility_off' : 'visibility'"
        />
      </button>
      @if (updatePasswordForm.password().getError("required") !== undefined) {
        <mat-error>{{
          updatePasswordForm.password().getError("required")?.message
        }}</mat-error>
      } @else if (
        updatePasswordForm.password().getError("minLength") !== undefined
      ) {
        <mat-error>{{
          updatePasswordForm.password().getError("minLength")?.message
        }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [formField]="updatePasswordForm.passwordConfirm"
        [type]="showPasswordConfirm() ? 'text' : 'password'"
        autocapitalize="none"
        autocomplete="new-password"
        spellcheck="false"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordConfirmVisibility($event)"
        [attr.aria-label]="
          showPasswordConfirm() ? 'Hide password' : 'Show password'
        "
      >
        <mat-icon
          [fontIcon]="showPasswordConfirm() ? 'visibility_off' : 'visibility'"
        />
      </button>
      @if (
        updatePasswordForm.passwordConfirm().getError("passwordMismatch") !==
        undefined
      ) {
        <mat-error>{{
          updatePasswordForm.passwordConfirm().getError("passwordMismatch")
            ?.message
        }}</mat-error>
      } @else {
        <mat-hint>Password must be at least 8 characters long</mat-hint>
      }
    </mat-form-field>
  </div>

  <span class="submit-row">
    <button
      mat-raised-button
      type="submit"
      [disabled]="updatePasswordForm().invalid() || isLoading()"
    >
      Submit
    </button>
    @if (isLoading()) {
      <mat-spinner diameter="40" class="progress-spinner" />
    }
  </span>
</form>
