.recipe-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.recipe-aside {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;

  .nutrient-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px !important;

    .nutrient-name {
      text-align: start;
    }

    .nutrient-heading {
      font-weight: bold;
    }

    .nutrient-amount {
      text-align: end;
    }
  }

  /* Center image */
  .recipe-image {
    display: block;
    margin: 0 auto 5px auto; /* top right bottom left */
  }

  .recipe-time {
    text-align: center;
  }

  .share-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.recipe-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  margin: 10px;

  > * {
    flex: 1;
  }

  /* Material design color tool: https://material.io/resources/color */
  $yellow-300: #fff176;

  .recipe-summary-card {
    background-color: $yellow-300;

    .recipe-summary-header {
      justify-content: center;
    }

    /* Position the lightbulb icon at the top right of the card */
    .lightbulb-icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .recipe-ingredients-header {
    justify-content: center;
  }

  .ingredient-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px !important;

    .ingredient-amount,
    .ingredient-name {
      text-align: center;
    }
  }
}

.recipe-footer {
  padding-left: 10px;
  padding-bottom: 5px;
}
