<!-- Recipe header -->
<header class="recipe-header">
    <!-- Show the recipe name and a link to its source next to it -->
    <h1>{{ recipe.name }}</h1>
    <a mat-icon-button [href]="recipe.url" target="_blank" rel="noopener noreferrer" aria-label="Open recipe source">
        <mat-icon>link</mat-icon>
    </a>
</header>

<aside class="recipe-aside">
    <!-- Nutritional information -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Nutrition Facts</mat-card-title>
            <mat-card-subtitle>Health Score: {{ recipe.healthScore }}%</mat-card-subtitle>
            <!-- Change the output based on whether there is more than 1 serving -->
            <mat-card-subtitle [ngPlural]="recipe.servings">
                <ng-template ngPluralCase="1">{{ recipe.servings }} serving</ng-template>
                <ng-template ngPluralCase="other">{{ recipe.servings }} servings</ng-template>
            </mat-card-subtitle>
        </mat-card-header>
        <!-- inset dividers don't extend the full width -->
        <mat-divider inset></mat-divider>
        <mat-card-content>
            <mat-list dense>
                <mat-list-item class="nutrient" *ngFor="let nutrient of recipe.nutrients">
                    <span class="nutrient-name"
                        [ngClass]="{'nutrient-heading': nutrientHeadings.includes(nutrient.name)}">
                        {{ nutrient.name }}
                    </span>
                    <span class="nutrient-amount">{{ nutrient.amount }} {{ nutrient.unit }}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <!-- Recipe image -->
    <figure>
        <img [src]="recipe.image" [alt]="recipe.name" width="312" height="231">
        <figcaption>
            Image © <a [href]="recipe.sourceUrl" target="_blank" rel="noopener noreferrer">
                {{ recipe.credit }}
            </a>
        </figcaption>
    </figure>

    <div class="share-button-container">
        <button mat-raised-button color="warn">I Made This!</button>
        <button mat-raised-button color="accent">Show Me Another Recipe!</button>
    </div>
</aside>

<!-- Recipe summary, render HTML tags -->
<section [innerHtml]="recipe.summary"></section>

<main>
    <p>Time: {{ recipe.time }} minutes</p>
    <!-- Ingredients -->
    <h2>Ingredients</h2>
    <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.amount }} {{ ingredient.unit }} of {{ ingredient.name }}
        </li>
    </ul>
    <!-- Steps -->
    <h2>Steps</h2>
    <ul>
        <li *ngFor="let instruction of recipe.instructions">
            <!-- Instruction section -->
            <h3>{{ instruction.name }}</h3>
            <ol>
                <li *ngFor="let step of instruction.steps">
                    <p>{{ step.number }}. {{ step.step }}</p>
                    <!-- Ingredients per step -->
                    <div *ngIf="step.ingredients.length > 0">
                        <h4>Ingredients:</h4>
                        <ul>
                            <li *ngFor="let ingredient of step.ingredients">
                                <p>{{ ingredient.name }}</p>
                                <!-- Image instructions: https://spoonacular.com/food-api/docs#Show-Images -->
                                <img [src]="'https://spoonacular.com/cdn/ingredients_100x100/' + ingredient.image"
                                    [alt]="ingredient.name">
                            </li>
                        </ul>
                    </div>
                    <!-- Equipment per step -->
                    <div *ngIf="step.equipment.length > 0">
                        <h4>Equipment:</h4>
                        <ul>
                            <li *ngFor="let equipment of step.equipment">
                                <p>{{ equipment.name }}</p>
                                <!-- Image instructions: https://spoonacular.com/food-api/docs#Show-Images -->
                                <img [src]="'https://spoonacular.com/cdn/equipment_100x100/' + equipment.image"
                                    [alt]="equipment.name">
                            </li>
                        </ul>
                    </div>
                </li>
            </ol>
        </li>
    </ul>
</main>

<!-- spoonacular API attribution -->
<footer>
    Powered by <a href="https://spoonacular.com/food-api" target="_blank" rel="noopener noreferrer">
        spoonacular
    </a>
</footer>
