<!-- Recipe header -->
<header>
    <a [href]="recipe.url" target="_blank" rel="noopener noreferrer">
        <h1>{{ recipe.name }}</h1>
    </a>
    <p>Source: {{ recipe.credit }}</p>
    <p>Share: {{ recipe.sourceUrl }}</p>
</header>

<aside>
    <!-- Nutritional information -->
    <h2>Nutrition Facts</h2>
    <p>Health Score: {{ recipe.healthScore }}%</p>
    <!-- <h3>Diet Labels:</h3>
    <ul>
        <li *ngFor="let dietLabel of recipe.dietLabels">{{ dietLabel }}</li>
    </ul>
    <h3>Health Labels:</h3>
    <ul>
        <li *ngFor="let healthLabel of recipe.healthLabels">{{ healthLabel }}</li>
    </ul>
    <p>Cautions:</p>
    <ul>
        <li *ngFor="let caution of recipe.cautions">{{ caution }}</li>
    </ul> -->
    <p>{{ recipe.servings }} serving(s)</p>
    <ul>
        <li *ngFor="let nutrient of recipe.nutrients | keyvalue">
            {{ nutrient.value }}: {{ nutrient.value.amount }}{{ nutrient.value.unit }}
        </li>
    </ul>

    <!-- Recipe image -->
    <figure>
        <img [src]="recipe.image" [alt]="recipe.name" width="recipe.images.REGULAR.width"
            height="recipe.images.REGULAR.height">
        <figcaption>
            Image © <a [href]="recipe.sourceUrl" target="_blank" rel="noopener noreferrer">
                {{ recipe.credit }}
            </a>
        </figcaption>
    </figure>

    <button type="button">Save</button>
    <button type="button">I Made This!</button>
    <button type="button">Show Me Another Recipe!</button>
</aside>

<!-- Recipe summary, render HTML tags -->
<section>{{ recipe.summary | unescape }}</section>

<main>
    <p>Time: {{ recipe.time }} minutes</p>
    <!-- Ingredients -->
    <h2>Ingredients</h2>
    <ul>
        <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.amount }} {{ ingredient.unit }} of {{ ingredient.name }}
        </li>
    </ul>
    <!-- Steps -->
    <h2>Steps</h2>
    <ul>
        <li *ngFor="let instruction of recipe.instructions">
            <!-- Instruction section -->
            <h3>{{ instruction.name }}</h3>
            <ol>
                <li *ngFor="let step of instruction.steps">
                    <p>{{ step.number }}. {{ step.step }}</p>
                    <!-- Ingredients per step -->
                    <h4>Ingredients:</h4>
                    <ul>
                        <li *ngFor="let ingredient of step.ingredients">
                            <p>{{ ingredient.name }}</p>
                            <!-- Image instructions: https://spoonacular.com/food-api/docs#Show-Images -->
                            <img [src]="'https://spoonacular.com/cdn/ingredients_100x100/' + ingredient.image"
                                [alt]="ingredient.name">
                        </li>
                    </ul>
                    <!-- Equipment per step -->
                    <h4>Equipment:</h4>
                    <ul>
                        <li *ngFor="let equipment of step.equipment">
                            <p>{{ equipment.name }}</p>
                            <!-- Image instructions: https://spoonacular.com/food-api/docs#Show-Images -->
                            <img [src]="'https://spoonacular.com/cdn/equipment_100x100/' + equipment.image"
                                [alt]="equipment.name">
                        </li>
                    </ul>
                </li>
            </ol>
        </li>
    </ul>
</main>

<!-- spoonacular API attribution -->
<footer>
    Powered by <a href="https://spoonacular.com/food-api" target="_blank" rel="noopener noreferrer">
        spoonacular
    </a>
</footer>
