@use "@angular/material" as mat;
@use "../../../../styles.scss" as my-theme;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.passkey-button {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);

  @include mat.button-overrides(
    (
      protected-container-color: my-theme.$blue-400,
    )
  );

  .passkey-button-content {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
