@use "@angular/material" as mat;
@use "../../../styles.scss" as my-theme;

:host {
  // Required, otherwise the toolbar will stop being sticky after scrolling down far enough
  display: block;
}

.toolbar {
  position: sticky;
  z-index: 2;
  top: 0;

  @include mat.button-overrides(
    (
      // Button hover
      text-state-layer-color: my-theme.$accent
    )
  );

  @include mat.icon-overrides(
    (
      color: var(--mat-sys-background),
    )
  );

  .toolbar-title {
    color: var(--mat-sys-background);
  }
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  gap: 8px;

  button {
    border-radius: 20px;
    padding: 16px;
  }

  $yellow-transparent: #ffeb3b1a;

  .selected {
    background-color: $yellow-transparent;
  }
}

.spacer {
  flex: 1 1 auto;
}

// Pre-defined in Angular Material
$toolbar-height-sm: 56px;
$toolbar-height-lg: 64px;
$toolbar-breakpoint: 599px;

.sidenav-container {
  @include mat.sidenav-overrides(
    (
      container-width: auto,
    )
  );

  .sidenav-content {
    // Fill the height of the container with the remaining screen space
    height: calc(100vh - $toolbar-height-lg);
  }

  @media screen and (max-width: $toolbar-breakpoint) {
    .sidenav-content {
      height: calc(100vh - $toolbar-height-sm);
    }
  }
}
