<mat-toolbar color="primary" class="toolbar">
  @if (isSmallScreen()) {
  <!-- Show a hamburger menu on small screens -->
  <!-- All material icons are found at: https://fonts.google.com/icons -->
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="Open menu"
    (click)="snav.toggle()"
  >
    <mat-icon fontIcon="menu" />
  </button>
  <span>EZ Recipes</span>
  } @else {
  <!-- Show all the links side-by-side if there's enough screen space -->
  <nav class="nav-links">
    @for (nav of navItems; track nav.path) {
    <button
      mat-button
      color="accent"
      [routerLink]="nav.path"
      [routerLinkActive]="nav.path === '' ? '' : 'selected'"
      [style]="{ 'font-size': nav.path === '' ? '20px' : '16px' }"
    >
      {{ nav.path === "" ? "EZ Recipes" : nav.title }}
    </button>
    }
  </nav>
  }
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="theme-icon"
    [attr.aria-label]="
      'Switch to ' + (isDarkMode() ? 'light' : 'dark') + ' mode'
    "
    (click)="toggleTheme()"
  >
    <mat-icon [fontIcon]="isDarkMode() ? 'dark_mode' : 'light_mode'" />
  </button>
  <!-- Update the material icon to match the corresponding boolean value -->
  @if (isRecipePage()) {
  <button
    mat-icon-button
    class="favorite-icon"
    [attr.aria-label]="
      (isFavorite() ? 'Unfavorite' : 'Favorite') + ' this recipe'
    "
    (click)="toggleFavoriteRecipe()"
    [disabled]="chef() === undefined"
  >
    <mat-icon [fontIcon]="isFavorite() ? 'favorite' : 'favorite_border'" />
  </button>
  <button
    mat-icon-button
    class="share-icon"
    aria-label="Share this recipe"
    (click)="shareRecipe()"
  >
    <mat-icon fontIcon="share" />
  </button>
  }
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- When the sidenav is open, move the content to the side if the screen is wide enough -->
  <!-- Otherwise, place the sidenav over the content -->
  <!-- height(toolbar) = viewport.width < 600 ? 56px : 64px -->
  <mat-sidenav
    #snav
    class="sidenav"
    [mode]="isSmallScreen() ? 'over' : 'side'"
    [fixedInViewport]="true"
    fixedTopGap="56"
  >
    <mat-nav-list>
      @for (nav of navItems; track nav.path) {
      <a mat-list-item [routerLink]="nav.path">
        {{ nav.title }}
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet (activate)="onRouterOutletActivate($event)" />
  </mat-sidenav-content>
</mat-sidenav-container>
