<mat-toolbar color="primary">
  <!-- All material icons are found at: https://fonts.google.com/icons -->
  <button mat-icon-button class="menu-icon" aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>EZ Recipes</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="favorite-icon"
    aria-label="Favorite this recipe"
    (click)="toggleFavoriteRecipe()"
  >
    <mat-icon>{{ heartIcon }}</mat-icon>
  </button>
  <button mat-icon-button class="share-icon" aria-label="Share this recipe">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
