@if (emailSent()) {
  <h3 class="update-email-confirm">
    We sent an email to <b>{{ emailForm().value() }}</b
    >. Follow the instructions to change your email.
  </h3>
} @else {
  <form class="update-email-form" (submit)="updateEmail($event)">
    <h1>Change Email</h1>
    <mat-form-field>
      <mat-label>New Email</mat-label>
      <input
        matInput
        [formField]="emailForm"
        type="email"
        inputmode="email"
        autocapitalize="none"
        autocomplete="email"
        spellcheck="false"
      />
      @if (emailForm().getError("required") !== undefined) {
        <mat-error>{{ emailForm().getError("required")?.message }}</mat-error>
      } @else if (emailForm().getError("email") !== undefined) {
        <mat-error>{{ emailForm().getError("email")?.message }}</mat-error>
      }
    </mat-form-field>

    <span class="submit-row">
      <button
        mat-raised-button
        type="submit"
        [disabled]="emailForm().invalid() || isLoading()"
      >
        Submit
      </button>
      @if (isLoading()) {
        <mat-spinner diameter="40" class="progress-spinner" />
      }
    </span>
  </form>
}
