.find-recipe-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.progress-spinner {
  margin: 10px auto;
}

.loading-message {
  text-align: center;
  font-size: 1.2em;
}
