<!-- Hide the find recipe button once a recipe is fetched -->
<div class="find-recipe-button-container">
  <button
    mat-raised-button
    class="find-recipe-button"
    (click)="getRandomRecipe()"
    [disabled]="isLoadingRecipe()"
  >
    Find Me a Recipe!
  </button>
</div>

@if (isLoadingRecipe()) {
<mat-spinner diameter="50" class="progress-spinner" />
<p class="loading-message">{{ loadingMessage() }}</p>
}

<!-- Reusable container for the accordions -->
<ng-template
  #recipeCards
  let-recipes="recipes"
  let-showWhenOffline="showWhenOffline"
>
  @if (!isLoggedIn()) { @if (showWhenOffline) {
  <!-- Show what's stored locally while the chef isn't signed in -->
  @if (recentRecipesLocal().length === 0) {
  <p>No recipes found</p>
  } @else {
  <ul class="recipe-card-list">
    @for (recipe of recentRecipesLocal(); track recipe.id) {
    <li>
      <app-recipe-card [recipe]="recipe" />
    </li>
    }
  </ul>
  } } @else if (isLoadingChef()) {
  <!-- Show the recipe cards loading while waiting for both the auth state & recipes -->
  <app-recipe-card-loader />
  } @else {
  <!-- Encourage the user to sign in to see these recipes -->
  <p>Sign in to view your saved recipes</p>
  } } @else if (recipes().length === 0) {
  <p>No recipes found</p>
  } @else {
  <ul class="recipe-card-list">
    @for (recipe of recipes(); track recipe?.id) {
    <li>
      @if (recipe !== undefined) {
      <app-recipe-card [recipe]="recipe" />
      } @else {
      <app-recipe-card-loader />
      }
    </li>
    }
  </ul>
  }
</ng-template>

<!-- Multiple accordions can be expanded -->
<mat-accordion multi class="home-accordion">
  <mat-expansion-panel
    class="favorites-accordion"
    (opened)="onExpandFavorites()"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>💖 Favorites</mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container
      *ngTemplateOutlet="recipeCards; context: recipeCardContext.favorites"
    />
  </mat-expansion-panel>

  <mat-expansion-panel class="recents-accordion" (opened)="onExpandRecents()">
    <mat-expansion-panel-header>
      <mat-panel-title>⌚ Recently Viewed</mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container
      *ngTemplateOutlet="recipeCards; context: recipeCardContext.recents"
    />
  </mat-expansion-panel>

  <mat-expansion-panel class="ratings-accordion" (opened)="onExpandRatings()">
    <mat-expansion-panel-header>
      <mat-panel-title>⭐ Ratings</mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container
      *ngTemplateOutlet="recipeCards; context: recipeCardContext.ratings"
    />
  </mat-expansion-panel>
</mat-accordion>
