<!-- Hide the find recipe button once a recipe is fetched -->
<div class="find-recipe-button-container">
  <button
    mat-raised-button
    color="accent"
    class="find-recipe-button"
    (click)="getRandomRecipe()"
    [disabled]="isLoading()"
  >
    Find Me a Recipe!
  </button>
</div>

@if (isLoading()) {
<mat-spinner diameter="50" class="progress-spinner" />
<p class="loading-message">{{ loadingMessage() }}</p>
}

<!-- Multiple accordions can be expanded -->
<mat-accordion multi class="home-accordion">
  <mat-expansion-panel (opened)="onExpandFavorites()">
    <mat-expansion-panel-header>
      <mat-panel-title>💖 Favorites</mat-panel-title>
    </mat-expansion-panel-header>

    @if (!isLoggedIn()) { @if (isLoading()) {
    <!-- Show the recipe cards loading while waiting for both the auth state & recipes -->
    <app-recipe-card-loader />
    } @else {
    <!-- Encourage the user to sign in to see these recipes -->
    <p>Sign in to view your saved recipes</p>
    } } @else if (favoriteRecipes().length === 0) {
    <p>No recipes found</p>
    } @else {
    <ul class="recents-list">
      @for (recipe of favoriteRecipes(); track recipe?.id) {
      <li>
        @if (recipe !== undefined) {
        <app-recipe-card [recipe]="recipe" />
        } @else {
        <app-recipe-card-loader />
        }
      </li>
      }
    </ul>
    }
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="onExpandRecents()">
    <mat-expansion-panel-header>
      <mat-panel-title>⌚ Recently Viewed</mat-panel-title>
    </mat-expansion-panel-header>

    @if (!isLoggedIn()) {
    <!-- Show what's stored locally while the chef isn't signed in -->
    @if (recentRecipes().length === 0) {
    <p>No recipes found</p>
    } @else {
    <ul class="recents-list">
      @for (recipe of recentRecipes(); track recipe.id) {
      <li>
        <app-recipe-card [recipe]="recipe" />
      </li>
      }
    </ul>
    } } @else if (recentRecipes2().length === 0) {
    <p>No recipes found</p>
    } @else {
    <ul class="recents-list">
      @for (recipe of recentRecipes2(); track recipe?.id) {
      <li>
        @if (recipe !== undefined) {
        <app-recipe-card [recipe]="recipe" />
        } @else {
        <app-recipe-card-loader />
        }
      </li>
      }
    </ul>
    }
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="onExpandRatings()">
    <mat-expansion-panel-header>
      <mat-panel-title>⭐ Ratings</mat-panel-title>
    </mat-expansion-panel-header>

    @if (!isLoggedIn()) { @if (isLoading()) {
    <app-recipe-card-loader />
    } @else {
    <p>Sign in to view your saved recipes</p>
    } } @else if (ratedRecipes().length === 0) {
    <p>No recipes found</p>
    } @else {
    <ul class="recents-list">
      @for (recipe of ratedRecipes(); track recipe?.id) {
      <li>
        @if (recipe !== undefined) {
        <app-recipe-card [recipe]="recipe" />
        } @else {
        <app-recipe-card-loader />
        }
      </li>
      }
    </ul>
    }
  </mat-expansion-panel>
</mat-accordion>
