<!-- Treat the card like a button -->
<mat-card
  class="recipe-card"
  role="button"
  tabindex="0"
  (click)="openRecipe()"
  (keydown.enter)="openRecipe()"
  (keydown.space)="openRecipe(); $event.preventDefault()"
>
  <img mat-card-image [src]="recipe().image" alt="" width="312" height="231" />
  <mat-card-content class="recipe-content">
    <span class="recipe-name-row">
      <mat-card-title>{{ recipe().name }}</mat-card-title>
      <button
        mat-icon-button
        class="recipe-favorite-icon"
        [attr.aria-label]="
          (isFavorite ? 'Unfavorite' : 'Favorite') + ' this recipe'
        "
        (click)="toggleFavoriteRecipe($event)"
      >
        <mat-icon
          [fontIcon]="isFavorite ? 'favorite' : 'favorite_border'"
          color="warn"
        />
      </button>
    </span>
    <app-recipe-rating
      [averageRating]="recipe().averageRating ?? null"
      [totalRatings]="recipe().totalRatings ?? 0"
      [myRating]=""
      (handleRate)="onRate($event)"
    />
    <span class="recipe-info-row">
      <p [ngPlural]="recipe().time">
        <!-- Pluralize the recipe time (if a recipe only takes a minute) -->
        <ng-template ngPluralCase="1">
          <b>Time:</b> {{ recipe().time }} minute
        </ng-template>
        <ng-template ngPluralCase="other">
          <b>Time:</b> {{ recipe().time }} minutes
        </ng-template>
      </p>

      @if (calories !== undefined) {
      <p>{{ calories.amount | number : "1.0-0" }} {{ calories.unit }}</p>
      }
    </span>
  </mat-card-content>
</mat-card>
