.oauth-button {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);

  .oauth-button-content {
    display: flex;
    align-items: center;
    gap: 12px;

    mat-icon {
      min-height: unset;
    }
  }
}
