@use "@angular/material" as mat;

$green-300: #81c784;
$green-800: #2e7d32;

.profile-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-stats {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.profile-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.profile-linked-accounts-divider,
.profile-passkeys-divider {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.profile-linked-accounts,
.profile-passkeys {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .profile-passkey-container {
    margin-bottom: 16px;
  }

  .profile-linked-account-buttons,
  .profile-linked-account-emails,
  .profile-passkey-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .profile-passkey-name {
      margin-bottom: 0;
    }
  }

  .profile-linked-account-buttons {
    margin-bottom: 8px;

    .unlink-button-span {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .profile-linked-account-emails {
    @include mat.icon-overrides(
      (
        color: light-dark($green-800, $green-300),
      )
    );
  }

  .profile-passkey-last-used {
    display: flex;
    justify-content: center;
  }
}

.profile-unauth-header {
  margin-bottom: 0;
}

.profile-unauth-perks {
  font-size: 16px;
  align-self: start;

  li {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.profile-spinner {
  margin-bottom: 16px;
}
