<!-- Temp buttons to control the auth state -->
<mat-radio-group (change)="authState = $event.value">
  <mat-radio-button [value]="AuthState.Unauthenticated">
    Unauthenticated
  </mat-radio-button>
  <mat-radio-button [value]="AuthState.Authenticated">
    Authenticated
  </mat-radio-button>
  <mat-radio-button [value]="AuthState.Loading">Loading</mat-radio-button>
</mat-radio-group>

<div class="profile-container">
  @if (authState === AuthState.Authenticated) {
  <h1>Chef {{ chef.email }}</h1>
  <span class="profile-stats">
    <span [ngPlural]="totalRecipesFavorited">
      <ng-template ngPluralCase="1">
        {{ totalRecipesFavorited }} favorite
      </ng-template>
      <ng-template ngPluralCase="other">
        {{ totalRecipesFavorited }} favorites
      </ng-template>
    </span>
    <mat-divider [vertical]="true" />
    <span [ngPlural]="totalRecipesViewed">
      <ng-template ngPluralCase="1">
        {{ totalRecipesViewed }} recipe viewed
      </ng-template>
      <ng-template ngPluralCase="other">
        {{ totalRecipesViewed }} recipes viewed
      </ng-template>
    </span>
    <mat-divider [vertical]="true" />
    <span [ngPlural]="totalRecipesRated">
      <ng-template ngPluralCase="1">
        {{ totalRecipesRated }} rating</ng-template
      >
      <ng-template ngPluralCase="other">
        {{ totalRecipesRated }} ratings
      </ng-template>
    </span>
  </span>
  <div class="profile-actions">
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    <button mat-raised-button color="primary" (click)="changeEmail()">
      Change Email
    </button>
    <button mat-raised-button color="primary" (click)="changePassword()">
      Change Password
    </button>
    <button mat-raised-button color="warn" (click)="deleteAccount()">
      Delete Account
    </button>
  </div>
  } @else if (authState === AuthState.Unauthenticated) {
  <h2 class="profile-unauth-header">
    Signing up for an account is free and gives you great perks, including:
  </h2>
  <ul class="profile-unauth-perks">
    <li>Saving your favorite recipes</li>
    <li>Saving more than 10 recently viewed recipes</li>
    <li>Rating recipes</li>
    <li>Syncing recipes across the web and mobile apps</li>
  </ul>
  <button mat-raised-button color="accent" routerLink="/login">Login</button>
  } @else {
  <mat-spinner diameter="50" class="profile-spinner" />
  <p>Getting your profile ready… 🧑‍🍳</p>
  }
</div>
