$side-width-breakpoint: 700px;
$step-breakpoint: 800px;

.progress-spinner {
  margin: 10px auto;
}

.recipe-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 5px 0 5px;

  .recipe-name {
    margin-bottom: 0;
  }
}

.recipe-aside {
  margin-left: 10px;
  margin-right: 10px;

  /* Display recipe information side-by-side if the screen is large enough */
  @media screen and (min-width: $side-width-breakpoint) {
    display: flex;
    justify-content: space-around;
  }

  .recipe-image-buttons-container {
    padding-bottom: 16px;

    .recipe-figure {
      /* Center image */
      margin-left: auto;
      margin-right: auto;

      .recipe-image {
        display: block;
        margin: 0 auto 5px auto; /* top right bottom left */
      }

      .recipe-caption {
        text-align: center;
      }
    }

    .recipe-time {
      text-align: center;
      font-weight: normal;
    }

    .share-button-container {
      display: flex;
      justify-content: center;
      gap: 10px;

      .made-container,
      .show-recipe-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
    }
  }

  .nutrition-card {
    @media screen and (max-width: $side-width-breakpoint) {
      /* Make the nutrition label smaller on small screens */
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .nutrient-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 10px !important;

      .nutrient-name {
        text-align: start;
      }

      .nutrient-heading {
        font-weight: bold;
      }

      .nutrient-amount {
        text-align: end;
      }
    }
  }
}

.recipe-section {
  @media screen and (min-width: $side-width-breakpoint) {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
  }

  margin: 10px;

  /* Material design color tool: https://material.io/resources/color */
  $yellow-300: #fff176;

  .recipe-summary-card {
    background-color: $yellow-300;
    margin-bottom: 16px;
    flex-basis: 50%; /* take up 50% of the flexbox */

    .recipe-summary-header {
      justify-content: center;
    }

    /* Position the lightbulb icon at the top right of the card */
    .lightbulb-icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .recipe-ingredients-card {
    flex-basis: 300px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $side-width-breakpoint) {
      /* Make the ingredients label smaller on small screens */
      width: 300px;
    }

    .recipe-ingredients-header {
      justify-content: center;
    }

    .ingredient-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 10px !important;
      row-gap: 5px; /* space out each ingredient to improve readability */

      .ingredient-amount,
      .ingredient-name {
        text-align: center;
      }
    }
  }
}

.steps-header {
  text-align: center;
}

.instructions-container {
  margin: 10px;

  .instruction-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .step-cards-container {
    display: flex;
    flex-wrap: wrap;

    .step-card {
      margin: 10px auto; /* top right bottom left */
      width: 45%;

      @media screen and (max-width: $step-breakpoint) {
        width: 100%;
      }

      .step-container,
      .step-ingredients-container,
      .step-equipment-container {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .step-number {
        font-weight: bold;
        border: 1px solid black;
        border-radius: 50%;
        flex: 0 0 30px; /* fix the width of the flex item to 30px */
        height: 30px;
        line-height: 30px; /* line-height will allow the text to be vertically aligned */
        text-align: center;
        vertical-align: middle;
      }

      .step-ingredients-header,
      .step-equipment-header {
        font-weight: bold;
      }

      .step-ingredients-list,
      .step-equipment-list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .step-ingredients-list-item,
        .step-equipment-list-item {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}

.recipe-footer {
  padding-left: 10px;
  padding-bottom: 5px;
}
