<mat-spinner
  diameter="50"
  class="progress-spinner"
  *ngIf="isLoading"
></mat-spinner>

<ng-container *ngIf="recipe !== null">
  <!-- Recipe header -->
  <header class="recipe-header">
    <!-- Show the recipe name and a link to its source next to it -->
    <h1 class="recipe-name">{{ recipe!.name | titlecase }}</h1>
    <a
      mat-icon-button
      class="recipe-link"
      [href]="recipe!.url"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Open recipe source"
    >
      <mat-icon>link</mat-icon>
    </a>
  </header>

  <aside class="recipe-aside">
    <div class="recipe-image-buttons-container">
      <!-- Recipe image -->
      <figure class="recipe-figure">
        <img
          class="recipe-image"
          [src]="recipe!.image"
          [alt]="recipe!.name"
          width="312"
          height="231"
        />
        <figcaption
          class="recipe-caption mat-caption"
          *ngIf="recipe!.credit !== null"
        >
          Image ©
          <a
            [href]="recipe!.sourceUrl"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ recipe!.credit }}
          </a>
        </figcaption>
      </figure>

      <h2 class="recipe-time" [ngPlural]="recipe!.time">
        <!-- Pluralize the recipe time (if a recipe only takes a minute) -->
        <ng-template ngPluralCase="1">
          <b>Time:</b> {{ recipe!.time }} minute
        </ng-template>
        <ng-template ngPluralCase="other">
          <b>Time:</b> {{ recipe!.time }} minutes
        </ng-template>
      </h2>

      <div class="share-button-container">
        <div class="made-container">
          <button
            mat-mini-fab
            color="warn"
            aria-label="I made this"
            (click)="addPreparation()"
          >
            <mat-icon>restaurant</mat-icon>
          </button>
          <p>I Made This!</p>
        </div>
        <div class="show-recipe-container">
          <button
            mat-mini-fab
            color="accent"
            class="show-recipe-button"
            aria-label="Show me another recipe"
            (click)="getRandomRecipe()"
            [disabled]="isLoading"
          >
            <mat-icon>receipt_long</mat-icon>
          </button>
          <p>Show Me Another Recipe!</p>
        </div>
      </div>
    </div>

    <!-- Nutritional information -->
    <mat-card class="nutrition-card">
      <mat-card-header>
        <mat-card-title>Nutrition Facts</mat-card-title>
        <mat-card-subtitle
          >Health Score: {{ recipe!.healthScore }}%</mat-card-subtitle
        >
        <!-- Change the output based on whether there is more than 1 serving -->
        <mat-card-subtitle [ngPlural]="recipe!.servings">
          <ng-template ngPluralCase="1"
            >{{ recipe!.servings }} serving</ng-template
          >
          <ng-template ngPluralCase="other"
            >{{ recipe!.servings }} servings</ng-template
          >
        </mat-card-subtitle>
      </mat-card-header>
      <!-- inset dividers don't extend the full width -->
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <div class="nutrient-grid">
          <ng-container *ngFor="let nutrient of recipe!.nutrients">
            <p
              class="nutrient-name"
              [ngClass]="{
                'nutrient-heading': nutrientHeadings.includes(nutrient.name)
              }"
            >
              {{ nutrient.name }}
            </p>
            <!-- Round the nutritional information to whole numbers -->
            <p class="nutrient-amount">
              {{ nutrient.amount | number: "1.0-0" }} {{ nutrient.unit }}
            </p>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </aside>

  <section class="recipe-section">
    <!-- Recipe summary -->
    <mat-card class="recipe-summary-card">
      <mat-card-header class="recipe-summary-header">
        <mat-card-title>Summary</mat-card-title>
        <mat-icon class="lightbulb-icon">tips_and_updates</mat-icon>
      </mat-card-header>
      <!-- Render HTML tags -->
      <mat-card-content [innerHtml]="recipe!.summary"></mat-card-content>
    </mat-card>

    <!-- Ingredients -->
    <mat-card class="recipe-ingredients-card">
      <mat-card-header class="recipe-ingredients-header">
        <mat-card-title>Ingredients</mat-card-title>
      </mat-card-header>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <div class="ingredient-grid">
          <ng-container *ngFor="let ingredient of recipe!.ingredients">
            <p class="ingredient-amount">
              {{ ingredient.amount }} {{ ingredient.unit }}
            </p>
            <!-- Capitalize the ingredient names -->
            <p class="ingredient-name">{{ ingredient.name | titlecase }}</p>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </section>

  <main>
    <!-- Steps -->
    <h2 class="steps-header">Steps</h2>
    <!-- If applicable, split each instruction into separate sections -->
    <div
      class="instructions-container"
      *ngFor="let instruction of recipe!.instructions"
    >
      <h3 class="instruction-header">{{ instruction.name }}</h3>
      <!-- Display each step in a grid -->
      <div class="step-cards-container">
        <mat-card class="step-card" *ngFor="let step of instruction.steps">
          <mat-card-content>
            <!-- Step number & directions -->
            <div class="step-container">
              <h4 class="step-number">{{ step.number }}</h4>
              <p>{{ step.step }}</p>
            </div>
            <mat-divider></mat-divider>

            <!-- Ingredients per step -->
            <div
              class="step-ingredients-container"
              *ngIf="step.ingredients.length > 0"
            >
              <h4 class="step-ingredients-header">Ingredients</h4>
              <ul class="step-ingredients-list">
                <li
                  class="step-ingredients-list-item"
                  *ngFor="let ingredient of step.ingredients"
                >
                  <!-- Image instructions: https://spoonacular.com/food-api/docs#Show-Images -->
                  <img
                    [src]="
                      'https://spoonacular.com/cdn/ingredients_100x100/' +
                      ingredient.image
                    "
                    [alt]="ingredient.name"
                  />
                  <p>{{ ingredient.name }}</p>
                </li>
              </ul>
            </div>
            <mat-divider *ngIf="step.equipment.length > 0"></mat-divider>

            <!-- Equipment per step -->
            <div
              class="step-equipment-container"
              *ngIf="step.equipment.length > 0"
            >
              <h4 class="step-equipment-header">Equipment</h4>
              <ul class="step-equipment-list">
                <li
                  class="step-equipment-list-item"
                  *ngFor="let equipment of step.equipment"
                >
                  <img
                    [src]="
                      'https://spoonacular.com/cdn/equipment_100x100/' +
                      equipment.image
                    "
                    [alt]="equipment.name"
                  />
                  <p>{{ equipment.name }}</p>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </main>

  <mat-divider></mat-divider>

  <!-- spoonacular API attribution -->
  <footer class="recipe-footer">
    Powered by
    <a
      href="https://spoonacular.com/food-api"
      target="_blank"
      rel="noopener noreferrer"
    >
      spoonacular
    </a>
  </footer>
</ng-container>
