$error-color: #d32f2f; // red-700

.recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 8px;

  .recipe-query {
    width: 100%;
    max-width: 700px; // the width of all checkboxes and dropdowns side-by-side
  }

  .calories-section {
    .calories-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;

      mat-form-field {
        width: 100px;
      }
    }

    .calorie-errors {
      display: flex;
      flex-direction: column;
      color: $error-color;

      span {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .checkbox-row,
  .dropdown-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .submit-row {
    display: flex;
    align-items: center;
    gap: 16px;

    .progress-spinner {
      // Place next to the submit button, but keep the button centered
      position: absolute;
      margin-left: calc(73.4px + 16px); // width of button + gap
    }
  }

  .no-results-error {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $error-color;
  }
}

.results-divider {
  margin: 16px 16px 8px;
}

.results-title {
  text-align: center;
}

.results-list {
  list-style-type: none;
  padding-left: 0;
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;

  li {
    cursor: pointer;
    max-width: 312px; // match the width of the images
  }
}
