<!-- Search form -->
<form class="recipe-form" [formGroup]="filterFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="recipe-query">
    <mat-label>Query</mat-label>
    <input
      matInput
      [formControlName]="filterFormNames.query"
      placeholder="food"
      type="search"
      inputmode="search"
      autocapitalize="none"
      autocomplete="off"
      spellcheck="false"
    />
    <mat-icon matSuffix fontIcon="search" />
  </mat-form-field>

  <section class="calories-section">
    <div class="calories-row">
      <mat-form-field>
        <input
          matInput
          [formControlName]="filterFormNames.minCals"
          placeholder="0"
          type="number"
          min="0"
          max="2000"
          pattern="\d*"
          inputmode="numeric"
        />
      </mat-form-field>
      <p>≤ Calories ≤</p>
      <mat-form-field>
        <input
          matInput
          [formControlName]="filterFormNames.maxCals"
          placeholder="2000"
          type="number"
          min="0"
          max="2000"
          pattern="\d*"
          inputmode="numeric"
        />
      </mat-form-field>
      <p>kcal</p>
    </div>
    <!-- Show errors as separate rows so they don't overlap with the rest of the form -->
    <div class="calorie-errors">
      <span
        [class.show]="
          filterFormGroup.controls.minCals.hasError(filterFormErrorNames.min) ||
          filterFormGroup.controls.maxCals.hasError(filterFormErrorNames.min)
        "
      >
        <mat-icon fontIcon="error" />{{ Errors.min }}
      </span>
      <span
        [class.show]="
          filterFormGroup.controls.minCals.hasError(filterFormErrorNames.max) ||
          filterFormGroup.controls.maxCals.hasError(filterFormErrorNames.max)
        "
      >
        <mat-icon fontIcon="error" />{{ Errors.max }}
      </span>
      <span [class.show]="filterFormGroup.hasError(filterFormErrorNames.range)">
        <mat-icon fontIcon="error" />{{ Errors.range }}
      </span>
    </div>
  </section>

  <section class="checkbox-row">
    <mat-checkbox [formControlName]="filterFormNames.vegetarian">
      Vegetarian
    </mat-checkbox>
    <mat-checkbox [formControlName]="filterFormNames.vegan">Vegan</mat-checkbox>
    <mat-checkbox [formControlName]="filterFormNames.glutenFree">
      Gluten-Free
    </mat-checkbox>
    <mat-checkbox [formControlName]="filterFormNames.healthy">
      Healthy
    </mat-checkbox>
    <mat-checkbox [formControlName]="filterFormNames.cheap">Cheap</mat-checkbox>
    <mat-checkbox [formControlName]="filterFormNames.sustainable">
      Sustainable
    </mat-checkbox>
  </section>

  <section class="dropdown-row">
    <mat-form-field>
      <mat-label>Rating</mat-label>
      <!-- Set the width to the longest option, instead of the dropdown itself -->
      <mat-select [formControlName]="filterFormNames.rating" panelWidth="">
        <mat-option [value]="null">(none)</mat-option>
        @for (rating of RATINGS; track rating) {
          <mat-option [value]="rating">
            @for (star of RATINGS.slice(0, rating); track star) {
              <mat-icon fontIcon="star" class="icon-accent" />
            }
            {{ rating }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Spice Level</mat-label>
      <mat-select [formControlName]="filterFormNames.spiceLevel" multiple>
        @for (spiceLevel of spiceLevels; track spiceLevel) {
          <mat-option [value]="spiceLevel">
            {{ spiceLevel }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Meal Type</mat-label>
      <mat-select [formControlName]="filterFormNames.type" multiple>
        @for (mealType of mealTypes; track mealType) {
          <mat-option [value]="mealType">
            {{ mealType }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cuisine</mat-label>
      <mat-select [formControlName]="filterFormNames.culture" multiple>
        @for (cuisine of cuisines; track cuisine) {
          <mat-option [value]="cuisine">
            {{ cuisine }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </section>

  <span class="submit-row">
    <span class="spacer"></span>
    <span class="submit-button-row">
      <button
        mat-raised-button
        type="submit"
        class="submit-button"
        [disabled]="!filterFormGroup.valid || isLoading()"
      >
        Apply
      </button>
      @if (isLoading()) {
        <mat-spinner diameter="40" class="progress-spinner" />
      }
    </span>
    <span class="sort-container">
      <mat-form-field class="sort-field">
        <mat-label> <mat-icon fontIcon="sort" /> Sort </mat-label>
        <mat-select [formControlName]="filterFormNames.sort">
          <mat-option [value]="null">(none)</mat-option>
          @for (sortField of SORT_FIELDS; track sortField) {
            <mat-option [value]="sortField">
              {{ sortField | label }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        class="sort-direction-button"
        [attr.aria-label]="
          filterFormGroup.value[filterFormNames.asc]
            ? 'Sort in descending order'
            : 'Sort in ascending order'
        "
        (click)="toggleSortDirection($event)"
      >
        <mat-icon
          [fontIcon]="
            filterFormGroup.value[filterFormNames.asc]
              ? 'arrow_upward'
              : 'arrow_downward'
          "
        />
      </button>
    </span>
  </span>
  @if (isLoading()) {
    <p class="loading-message">{{ loadingMessage() }}</p>
  }
  @if (noRecipesFound()) {
    <p class="no-results-error">
      <mat-icon fontIcon="error" />{{ Errors.noResults }}
    </p>
  }
</form>

<!-- Results -->
@if (recipes().length > 0) {
  <section class="results">
    <mat-divider class="results-divider" />
    <h1 class="results-title">Results</h1>
    <ul class="results-list">
      @for (recipe of recipes(); track recipe.id) {
        <li>
          <app-recipe-card [recipe]="recipe" />
        </li>
      }
    </ul>
    @if (isLoading()) {
      <mat-spinner diameter="40" class="progress-spinner" />
    }
  </section>
}
