<form class="recipe-form" [formGroup]="filterFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="recipe-query">
    <mat-label>Query</mat-label>
    <input
      matInput
      formControlName="query"
      placeholder="food"
      type="search"
      inputmode="search"
      autocapitalize="none"
      autocomplete="off"
      spellcheck="false"
    />
    <mat-icon matSuffix fontIcon="search" />
  </mat-form-field>

  <section class="calories-row">
    <mat-form-field>
      <input
        matInput
        formControlName="minCals"
        placeholder="0"
        type="number"
        min="0"
        max="2000"
        pattern="\d*"
        inputmode="numeric"
      />
    </mat-form-field>
    <p>≤ Calories ≤</p>
    <mat-form-field>
      <input
        matInput
        formControlName="maxCals"
        placeholder="2000"
        type="number"
        min="0"
        max="2000"
        pattern="\d*"
        inputmode="numeric"
      />
    </mat-form-field>
    <p>kcal</p>
  </section>

  <section class="checkbox-row">
    <mat-checkbox formControlName="vegetarian">Vegetarian</mat-checkbox>
    <mat-checkbox formControlName="vegan">Vegan</mat-checkbox>
    <mat-checkbox formControlName="glutenFree">Gluten-Free</mat-checkbox>
    <mat-checkbox formControlName="healthy">Healthy</mat-checkbox>
    <mat-checkbox formControlName="cheap">Cheap</mat-checkbox>
    <mat-checkbox formControlName="sustainable">Sustainable</mat-checkbox>
  </section>

  <section class="dropdown-row">
    <mat-form-field>
      <mat-label>Spice Level</mat-label>
      <mat-select formControlName="spiceLevel" multiple>
        <mat-option
          *ngFor="let spiceLevel of spiceLevels"
          [value]="spiceLevel"
          >{{ spiceLevel }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Meal Type</mat-label>
      <mat-select formControlName="type" multiple>
        <mat-option *ngFor="let mealType of mealTypes" [value]="mealType">{{
          mealType
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cuisine</mat-label>
      <mat-select formControlName="culture" multiple>
        <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine">{{
          cuisine
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <span class="submit-row">
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!filterFormGroup.valid || isLoading"
    >
      Apply
    </button>
    <mat-spinner diameter="40" class="progress-spinner" *ngIf="isLoading" />
  </span>
  <p class="loading-message" *ngIf="isLoading">{{ loadingMessage }}</p>
</form>
