@if (emailSent()) {
  <h3 class="forgot-password-confirm">
    We sent an email to <b>{{ emailForm().value() }}</b
    >. Follow the instructions to reset your password.<br /><br />

    If you didn't receive an email, you may not have created an account with
    this email.
  </h3>
} @else {
  <form class="forgot-password-form" (submit)="resetPassword($event)">
    <h3>No problem! Enter your email so we can reset your password.</h3>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        [formField]="emailForm"
        type="email"
        inputmode="email"
        autocapitalize="none"
        autocomplete="email"
        spellcheck="false"
      />
      @if (emailForm().getError("required") !== undefined) {
        <mat-error>{{ emailForm().getError("required")?.message }}</mat-error>
      } @else if (emailForm().getError("email") !== undefined) {
        <mat-error>{{ emailForm().getError("email")?.message }}</mat-error>
      }
    </mat-form-field>

    <span class="submit-row">
      <button
        mat-raised-button
        type="submit"
        [disabled]="emailForm().invalid() || isLoading()"
      >
        Submit
      </button>
      @if (isLoading()) {
        <mat-spinner diameter="40" class="progress-spinner" />
      }
    </span>
  </form>
}
