@if (emailSent()) {
<h3 class="forgot-password-confirm">
  We sent an email to <b>{{ formGroup.controls.email.value }}</b
  >. Follow the instructions to reset your password.<br /><br />

  If you didn't receive an email, you may not have created an account with this
  email.
</h3>
} @else {
<form
  class="forgot-password-form"
  [formGroup]="formGroup"
  (ngSubmit)="resetPassword()"
>
  <h3>No problem! Enter your email so we can reset your password.</h3>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      [formControlName]="formControls.email"
      type="email"
      inputmode="email"
      autocapitalize="none"
      autocomplete="off"
      spellcheck="false"
    />
    @if (formGroup.controls.email.hasError(formErrors.required)) {
    <mat-error>{{ errors.required(formControls.email) }}</mat-error>
    } @else if (formGroup.controls.email.hasError(formErrors.emailInvalid)) {
    <mat-error>{{ errors.email }}</mat-error>
    }
  </mat-form-field>

  <span class="submit-row">
    <button
      mat-raised-button
      type="submit"
      [disabled]="!formGroup.valid || isLoading()"
    >
      Submit
    </button>
    @if (isLoading()) {
    <mat-spinner diameter="40" class="progress-spinner" />
    }
  </span>
</form>
}
