<form class="login-form" [formGroup]="formGroup" (ngSubmit)="login()">
  <h1>Login</h1>
  @if (isStepUp()) {
    <h2>This is a sensitive operation. Please sign in again.</h2>
  } @else {
    <span>
      <h2>
        Don't have an account?
        <a
          [routerLink]="'/' + profileRoutes.signUp.path"
          queryParamsHandling="preserve"
        >
          Sign Up
        </a>
      </h2>
    </span>
  }

  <div class="login-fields">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        matInput
        [formControlName]="formControls.username"
        type="email"
        inputmode="email"
        autocapitalize="none"
        autocomplete="username webauthn"
        spellcheck="false"
      />
      @if (formGroup.controls.username.invalid) {
        <mat-error>{{ errors.required(formControls.username) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [formControlName]="formControls.password"
        [type]="showPassword() ? 'text' : 'password'"
        autocapitalize="none"
        autocomplete="current-password webauthn"
        spellcheck="false"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility($event)"
        [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
      >
        <mat-icon
          [fontIcon]="showPassword() ? 'visibility_off' : 'visibility'"
        />
      </button>
      @if (formGroup.controls.password.invalid) {
        <mat-error>{{ errors.required(formControls.password) }}</mat-error>
      }
    </mat-form-field>
  </div>

  @if (!isStepUp()) {
    <h3>
      <a [routerLink]="'/' + profileRoutes.forgotPassword.path">
        Forgot Password?
      </a>
    </h3>
  }

  <h2>Or sign in using:</h2>
  <div class="oauth-button-container">
    @for (provider of allProviders; track provider) {
      <app-oauth-button
        [provider]="provider"
        [authUrl]="authUrls()[provider]"
        (success)="onLoginSuccess($event.emailVerified, $event.email)"
      />
    }
  </div>
  <app-passkey-button [disabled]="!formGroup.value.username || isLoading()" />

  <span class="submit-row">
    <button
      mat-raised-button
      type="submit"
      [disabled]="!formGroup.valid || isLoading()"
    >
      Login
    </button>
    @if (isLoading()) {
      <mat-spinner diameter="40" class="progress-spinner" />
    }
  </span>
</form>
