.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.login-fields {
  display: flex;
  flex-direction: column;
}

.oauth-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.submit-row {
  display: flex;
  align-items: center;
  gap: 16px;

  .progress-spinner {
    position: absolute;
    margin-left: calc(73.4px + 16px);
  }
}
